SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000
DATABASE_URL=postgres://postgres:postgres@db:5432/backend_devops_interview
POSTGRES_DB=backend_devops_interview
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
